:root{
    --white:#FFFFFF;
    --white2:rgba(255, 255, 255, 0.78);
    --white3:rgba(255, 255, 255, 0.9);
    --white4:rgba(255, 255, 255, 0.55);
    --orange:#FF6E30;
    --gold:rgba(255, 165, 55, 0.55);
    --gold2:#FFA537;
    --black:#1E252B;
    --black2:#283036;
    --black3:rgba(255, 255, 255, 0.1);
    --gray:rgba(255, 255, 255, 0.55);
}

body{
    background-color:var(--black);
    font-family: 'Poppins';
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

h1,h2,h3,h4,p,input,ul,li,img,button,a{
    margin: 0;
    padding: 0;
}

.container{
    width: 1255px;
    margin: 0 auto;
    padding: 0 15px;
    /*border: 1px dashed purple;*/
}

.header_wrap{
    display: flex;
    margin-top: 26px;
    align-items: center;
}

.header_nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header_menu_1{
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    margin-right: 189px;
}

.header_menu_2{
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    margin-left: 34px;
}

.header_logo{
    display: flex; 
    align-items: center;
    margin-right: 257px;
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.header_logo img{
    margin-right: 8px;
}

.hm1_link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
    transition: 0.2s;
    display: flex; 
    align-items: center;
}

.hm1_link:hover{
    cursor: pointer;
    color: var(--orange);
}

.hm2_login{
    padding: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white2);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
}

.hm2_login:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--orange);
}

.hm2_login:focus{
    cursor: pointer;
    color: var(--orange);
    background-color: var(--white);
}

.hm2_signup{
    padding: 12px 28px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white2);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
}

.hm2_signup:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--orange);
}

.hm2_signup:focus{
    cursor: pointer;
    color: var(--orange);
    background-color: var(--white);
}

.top_info{
    display: flex;
    margin-top: 104px;
}

.top_info_headertext{
    width: 608px;
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
}

.top_info_headertext span{
    color: var(--orange);
}

.top_info_text{
    width: 453px;
    margin-top: 30px;
    margin-bottom: 60px;
    color: var(--gray);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.searchbar{
    padding: 21px 0px 22px 55.18px;
    width: 498px;
    border: 1.5px solid var(--black3);
    border-radius: 15px;
    background-color: var(--black2);
    transition: 0.2s;
}

.searchbar:focus{
    outline: none;
    border: 1.8px solid var(--orange);
}

.searchbar:hover{
    cursor: pointer;
}

.searchbtn{
    position: relative;
    left:-135px;
    padding: 12px 36.12px;
    border: none;
    border-radius: 8px;
    background-color: var(--orange);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s;
}

.searchbtn:hover{
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}

.socials{
    display: flex;
    flex-direction: row;
    gap: 31px;
    margin-top: 122px;
    margin-bottom: 12px;
}

.popular_tools{
    margin-top: 200px;
}

.popular_tools_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -25px;
}

.popular_tools_headertext{
    text-align: center;
    color: var(--white3);
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
}

.popular_tools_text{
    margin-top: 25px;
    margin-left: 400px;
    margin-bottom: 90px;
    text-align: center;
    width: 427px;
    color: var(--gray);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.popular_tile{
    justify-content: center;
    margin-right: 25px;
    padding: 33px;
    margin-bottom: 120px;
    border-radius: 15px;
    border: 1.5px solid transparent;
    transition: 0.2s;
}

.popular_tile#bottom-row{
    margin-bottom: 100px;
}


.popular_tile:hover{
    background-color: var(--black2);
    border: 1.5px solid var(--black3);
}

.tile_headertext{
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: var(--white2);
    transition: 0.2s;
}

.tile_headertext:hover{
    color: var(--white3);
}

.tile_text{
    margin-left: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--gold);
    transition: 0.2s;
}

.tile_text:hover{
    color: var(--gold2);
}

.tile_subtext{
    margin-bottom: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--white4);
    transition: 0.2s;
}

.tile_subtext:hover{
    color: var(--white2);
}

.load_btn{
    display: block;
    margin: auto;
    padding: 17px 38px;
    background-color: transparent;
    border: 1px solid var(--black3);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--orange);
    transition: 0.3s;
}

.load_btn:hover{
    cursor: pointer;
    background-color: var(--orange);
    color: var(--white);
    border: 1px solid var(--white);
}

.popular_wrap_top{
    display: flex;
    margin-bottom: 30px;
}

.popular_wrap_bottom{
    display: flex;
    flex-direction: row;
}

.heart_btn{
    padding: 6px 7px;
    border-radius: 8px;
    border: none;
    display: block;
    background-color: transparent;
    margin-right: 12px;
    transition: 0.3s;
}

.folder_btn{
    padding: 6px 7px;
    border-radius: 8px;
    border: none;
    display: block;
    background-color: transparent;
    margin-right: 124px;
    transition: 0.3s;
}

.heart_btn:hover{
    cursor: pointer;
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.folder_btn:hover{
    cursor: pointer;
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
}

.visit_btn{
    padding: 9px 35px;
    color: var(--gray);
    background-color: transparent;
    border: none;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s;
}

.visit_btn:hover{
    cursor: pointer;
    color: var(--white);
    background-color: var(--orange);
}

.trusted_by{
    margin-top: 200px;
}

.trusted_tile{
    padding: 55px 82px;
    border: 1.5px solid var(--black3);
    border-radius: 25px;
    background-color: var(--black2);
}

.brands_list{
    margin-top: 55px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 107px;
}

.trusted_text{
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 0.8);
}

.newcomer_tools{
    margin-top: 200px;
}

.newcomer_headertext{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: var(--white3);
}

.newcomer_text{
    margin-top: 30px;
    margin-bottom: 60px;
    width: 427px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--gray);
}

.explore_btn{
    padding: 15px 40px;
    border: none;
    color: var(--white);
    background-color: var(--orange);
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    transition: 0.2s;
}

.explore_btn:hover{
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}

.nt_box{
    display: flex;
}

.newcomer_tools_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 186px;
    margin-right: -25px;
    margin-bottom: -50px;
}

.newcomer_tile{
    justify-content: center;
    margin-right: 25px;
    padding: 28px 22px;
    margin-bottom: 50px;
    border-radius: 15px;
    border: 1.5px solid transparent;
    transition: 0.2s;
}

.newcomer_tile:hover{
    background-color: var(--black2);
    border: 1.5px solid var(--black3);
}

.folder_btn#newcomer{
    margin-right: 43px;
}

.newcomer_wrap_top{
    display: flex;
    margin-bottom: 30px;
}

.newcomer_wrap_bottom{
    display: flex;
    flex-direction: row;
}

.n_tile_subtext{
    margin-bottom: 37px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    width: 245px;
    color: var(--white4);
    transition: 0.2s;
}

.the_team{
    margin-top: 200px;
}

.team_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.team_text{
    width: 393px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: var(--white2);
    margin-left: 57px;
    margin-top: 50px;
}

.list_of_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.left_arrow{
    margin-top: 260px;
    margin-right: 123px;
    background-color: transparent;
    border: none;
}

.right_arrow{
    margin-top: 260px;
    margin-left: 123px;
    background-color: transparent;
    border: none;
}

.left_arrow:hover, .right_arrow:hover{
    cursor: pointer;
}

.contribute{
    margin-top: 200px;
    margin-bottom: 240px;
}

.input_center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.emailbar{
    margin-left: 130px;
    padding: 21px 0px 22px 55.18px;
    width: 549px;
    border: 1.5px solid var(--black3);
    border-radius: 15px;
    background-color: var(--black2);
    transition: 0.2s;
}

.emailbar:focus{
    outline: none;
    border: 1.8px solid var(--orange);
}

.emailbar:hover{
    cursor: pointer;
}

.join_btn{
    position: relative;
    left:-135px;
    padding: 12px 36.12px;
    border: none;
    border-radius: 8px;
    background-color: var(--orange);
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: 0.2s;
}

.join_btn:hover{
    cursor: pointer;
    background-color: var(--white);
    color: var(--orange);
}

.contribute_headertext{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    color: var(--white3);
    text-align: center;
    margin-bottom: 25px;
}

.contribute_text{
    width: 427px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: var(--gray);
    text-align: center;
    margin-bottom: 100px;
    margin-left: 400px;
}

.line{
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer_list{  
    gap: 115px;
    display: flex;
    flex-direction: row;
}

.section_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_headertext{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--white3);
    margin-bottom: 20px;
}

.section_link{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--gray);
    transition: 0.2s;
}

.section_link:hover{
    cursor: pointer;
    color: var(--white2);
}

.footer_logo{
    display: flex; 
    align-items: center;
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

.footer_logo img{
    margin-right: 8px;
}

.footer_content{
    display: flex;
    justify-content: center;
}

.at_headertext{
    margin-top: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white3);
}

.at_text{
    width: 260px;
    margin-top: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: var(--white4);
}

.at_footer{
    margin-right: 156px;
}

.footer{
    margin-top: 70px;
    margin-bottom: 98px;
}